rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Remplacez par VOS adresses e-mail (celles créées dans Authentication)
    function estMarie() {
      return request.auth != null
        && request.auth.token.email in ["narjes.isiah@gmail.com"];
    }

    match /rsvp/{id} {
      // Les invités peuvent seulement AJOUTER une réponse valide
      allow create: if request.resource.data.keys().hasOnly(
                         ["nom", "presence", "allergies", "chanson", "message", "creeLe"])
                    && request.resource.data.nom is string
                    && request.resource.data.nom.size() > 1 && request.resource.data.nom.size() <= 120
                    && request.resource.data.presence in ["oui", "non"]
                    && request.resource.data.allergies.size() <= 300
                    && request.resource.data.chanson.size() <= 200
                    && request.resource.data.message.size() <= 1000
                    && request.resource.data.creeLe == request.time;

      // Seuls les mariés peuvent lire et supprimer
      allow read, delete: if estMarie();
      allow update: if false;
    }
  }
}
